body,
html {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.screen1 {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: space-between;
  background-color: black;
  justify-items: center;
}

.logo {
  background-image: url("../images/battleship-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 100%;
  transform: scale(2);
  animation: 1.5s ease-in 0.1s 1;
  animation-name: logo;
}

form {
  height: 50%;
  align-self: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: 2.3s linear 0.1s;
  animation-name: form;
}

#name,
.submit-button {
  background-color: grey;
  color: white;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
}

#name {
  padding: 0.5rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.643);
}

.submit-button {
  width: fit-content;
  align-self: center;
  padding: 0.2rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.submit-button:hover {
  transform: scale(1.1);
}

@keyframes logo {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

@keyframes form {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
