.screen2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: rgb(8, 113, 198);
  height: 100%;
}

.message {
  color: white;
  margin-top: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.directions-container {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  color: white;
}

.vertically,
.horizontally {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.chosen {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
}

.grid {
  aspect-ratio: 1/1;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  border: 1px solid rgb(8, 113, 198);
  padding: 1rem;
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
}

.reset-button,
.randomize-button,
.grid-container {
  transform: scale(1);
  animation: 1.3s ease-in 1;
  animation-name: screen2;
}

.reset-button,
.randomize-button {
  color: white;
  cursor: pointer;
  width: 15%;
  text-align: center;
  transition: all 0.2s ease-in;
}

.reset-button:hover,
.randomize-button:hover {
  transform: scale(1.1);
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 60%;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.marked {
  background-color: grey;
}

@keyframes screen2 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
