body,
html {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.screen1 {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: space-between;
  background-color: black;
  justify-items: center;
}

/* .logo-container {
  height: fit-content;
  position: relative;
} */

.logo {
  background-image: url("../images/battleship-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  /* position: absolute; */
  width: 100%;
  transform: scale(2);
  animation: 1s ease-in 0.1s 1;
  animation-name: popin;
}

@keyframes popin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

form {
  height: 50%;
  align-self: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#name,
.submit-button {
  font-size: 2rem;
  font-family: inherit;
  border-radius: 10px;
}
